body{

    text-align: center;
    background-color: beige;
    color:black;
}
#d1{
    
    background-color: paleturquoise;
    color: black;
}
img{

    width: 200;
    height: 200;
}